sudo: required

services:
    - docker

before_install:
    - docker build -t asad183099/nodenginxdocker .
    
script:
    - echo "no tests!"  

after_success:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin

    - docker push asad183099/nodenginxdocker

deploy:
    provider: elasticbeanstalk
    region: ap-southeast-1
    app: nodenginxdocker
    env: Nodenginxdocker-env
    bucket_name: arn:aws:s3:::elasticbeanstalk-ap-southeast-1-947202945543
    bucket_path: nodenginxdocker
    on:
        branch: master
    access_key_id: $AWS_ACCESS_KEY
    secret_acces_key: $AWS_SECRET_KEY    