version: '2'

services:

  nginx:
    build:
      context: .
      dockerfile: .docker/nginx.dockerfile
    links:
      - node1:node1
    depends_on:
      - node1
    ports:
      - "8080:80"
    networks:
      - app-network

  node1:
    build:
      context: .
      dockerfile: Dockerfile
    working_dir: /usr/src/app
    volumes:
      - .:/usr/src/app
    ports:
      - "3000"
    environment:
      - INSTANCE=node1
      - DATABASE_HOST=mysql
      - MYSQL_HOST=localhost
      - MYSQL_PORT=3306
      - MYSQL_USER=root
      - MYSQL_PASS=Asad@183099
      - MYSQL_DB=classicmodels
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - MONGO_HOST=mongo
      - PUBLIC_VAPID_KEY=BGSCTOuz0fZs_oKrqhm9296pFbYKbZHQ87eJSzNVE_M-czHgrRuhMyEjYfnmY1h69ELjUJIiSOc4nkjK4f8yF7U
      - PRIVATE_VAPID_KEY=f4zajkLiapx5n2_2H67lukCpsY26002Uz_ZrelImrmc
    networks:
      - app-network
    depends_on:
      - redis
      - mongo
    links:
      - redis
      - mongo        

  mysql:
    build: ./mysql-service
    restart: always
    command: --default-authentication-plugin=mysql_native_password
    ports:
      - 3307:3306
    environment:
      - MYSQL_ALLOW_EMPTY_PASSWORD=true  
    networks:
      - app-network 
    volumes: 
      - mysql-data:/var/lib/mysql          
  redis:
    build: ./redis-service
    hostname: redis
    command: ["redis-server", "--bind", "redis", "--port", "6379"]
    ports:
      - "6379:6379"
    expose: 
      - 6379  
    restart: always 
    volumes:
    - ~/db/data:/data
    - ~/db/redis.conf:/usr/local/etc/redis/redis.conf
    environment:
      - ALLOW_EMPTY_PASSWORD=yes   
      - DISABLE_COMMANDS=FLUSHDB,FLUSHALL,CONFIG
    networks:
      - app-network  
  mongo:
    build: ./mongo-service
    container_name: mongo
    ports: 
      - "27017:27017" 
    expose: 
      - 27017    
    networks:
      - app-network  
    volumes: 
      - mongo-data:/data/db  
    environment:
      - MONGO_INITDB_ROOT_USERNAME:admin
      - MONGO_INITDB_ROOT_PASSWORD:password  
  mongo-express:
    image: mongo-express
    ports: 
      - "8081:8081"   
    environment: 
      - ME_CONFIG_MONGODB_SERVER=mongo
      - ME_CONFIG_MONGODB_ADMINUSERNAME=admin
      - ME_CONFIG_MONGODB_ADMINPASSWORD=password 
    networks:
      - app-network    

volumes: 
  mongo-data:
    driver: local  
  mysql-data:
    driver: local    
      
networks:
  app-network:
    driver: bridge
